VITE_BACKEND_ORIGIN=https://funint.site
VITE_API_BASE_URL=/api
VITE_ASSET_BASE_URL=https://funint.site/core/storage/app/public

VITE_REVERB_APP_KEY=k6dbocgucm0at6gwak3y
VITE_REVERB_HOST=funint.site
VITE_REVERB_SCHEME=https
VITE_REVERB_PORT=443
VITE_REVERB_ENABLED=true